.shiny-options-group { 
  height: auto;
  width: 500px;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */ 
  -moz-column-count: 1;    /* Firefox */ 
  column-count: 1; 
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
  margin-top: 0px;
} 

.control-label {
  padding-bottom: 10px;
}

div.radio {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}